@charset "UTF-8";
/* CSS Document */
body {
    margin: 0; 
    background-color: #FFE0C7;
}

/** RECYCLED CLASSES */

/** HEADER SECTION */

#header { /** for centering logo */
    width: 100%;
    height: 100px;
    background-color: #FFE0C7;
    display: flex;
    justify-items: center;
    align-items: center;
}

    .header-logo { /** here is shown in W/H/BKDG-SIZE how to reuse same image, but different sizes */
        background-image: url(../images/logo-empty.png);
        width: 94px;
        height: 87px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 80px;
    }

    #header-text-container { /** for centering text */
        display: flex;
        gap: 80px;
        justify-items: center;
        align-items: center;
        margin: 0 80px 0 160px;
    }

        #header-text {
            color: #380000;
            font-family: Aquavit;
            font-size: 26px;
            font-weight: 400;
        }

        #header-icons {
            background-image: url(../images/header-icons.png);
            width: 114.304px;
            height: 27.955px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 106px;
        }



/** MAIN SECTION */

#main {
    width: 1440px;
    height: 1618px;
    margin: 0 auto;
    position: relative;
}

    #main-wine-spill {
        background-image: url(../images/main-wine-spill.png);
        width: 1440px;
        height: 1618px;
        margin: 0 auto;
        position: absolute;
        top: -160px;
        z-index: 0;
    }

    #main-logo { /** here is shown in W/H/BKDG-SIZE how to reuse same image, but different sizes */
        background-image: url(../images/logo-empty.png);
        width: 624px;
        height: 578px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 120px;
        position: absolute;
        z-index: 1;
    } 

    #main-text {
        color: #380000;
        font-family: Aquavit;
        font-size: 64px;
        font-weight: 600;
        position: absolute;
        z-index: 1;
        top: 580px;
        left: 110px;
        float: left;
    }

/** ABOUT US SECTION */

#aboutUs {
    margin-top: -200px; /* ummmm */
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #380000;
}

    #aboutUs-header {
        text-align: center;
        font-family: Aquavit;
        font-size: 80px;
        font-weight: 600;
    }

    #aboutUs-body {
        width: 552px;
        height: 800px;
        align-self: center;
        text-align: center;
        font-family: Aquavit;
        font-size: 20px;
        font-weight: 500;
        margin-top: -20px;
    }


/** SHOP NOW SECTION */

#shopNow {
   
    clear: both;
    height: 1206px;
}

    #shopNow-bkgd {
        background-image: url(../images/shopNow-bkgd.png);
        width: 1440px;
        height: 965px;
        margin: 0 auto;
        position: absolute;
        z-index: 0;
    }

    #shopNow-wine-spill {
        background-image: url(../images/shopNow-wine-spill.png);
        width: 1777px;
        height: 1206px;
        position: absolute;
        z-index: 1;
        margin-top: -100px;
    }

    #shopNow-buttons {
        padding-top: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 100px;
    }

    #shopNow-button1 {
        background-image: url(../images/shopNow-button1.png);
        width: 292px;
        height: 96px;
    }

    #shopNow-button2 {
        background-image: url(../images/shopNow-button2.png);
        width: 292px;
        height: 96px;
        /*position: absolute;
        z-index: 2;*/
    }

    #shopNow-button3 {
        background-image: url(../images/shopNow-button3.png);
        width: 292px;
        height: 96px;
        /*position: absolute;
        z-index: 2;*/
    }

/** FOOTER SECTION */

footer {

    background-color: black;
}





/** 

MYSHOP HTML FILE CLASSES

*/



/** TITLE SECTION */


#title {
    width: 100%;
    height: 260px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #title-text {
        color: #380000;
        font-family: Aquavit;
        font-size: 128px;
        font-weight: 600;
    }

    #title-green-assets {
        position: absolute;
        width: 1400.276px;
        height: 208.404px;
        background-image: url(../images-shop/title-green-assets.png);
        margin-top: 100px;
    }

    #title-categories-container {
        width: 100%;
        height: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        gap: 120px;
    }

        .title-categories-text {
            color: #C76060;
            font-family: Aquavit;
            font-size: 40px;
            font-weight: 500;
        }


/** LEFT-COLUMN SECTION */

#left-column {
    width: 234px;
    height: 393px;
    padding-left: 40px;
    margin-top: 100px;
    position: relative;
    justify-items: center; /* fool around with which one can be shifted left */
    align-items: left;
}

    #left-column-1X {
        background-image: url(../images-shop/left-column-redWine-X.png);
        width: 231px;
        height: 65px;
    }

    #left-column-2X {
        background-image: url(../images-shop/left-column-tuscany-X.png);
        width: 231px;
        height: 65px;
    }

#left-column-categories-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

    .left-column-categories-text {
        color: #C76060;
        font-family: Aquavit;
        font-size: 32px;
        font-weight: 400;
    }
